<div class="header">
  <div class="row">
    <div class="medium-12 columns space2">
    </div>
  </div>
</div> 

<div id="container">
  <div class="two-third"> 
    <div class="row">
      <div class="medium-12 columns">
        <div id="wrapper">
          <h2 id="mainLogo">HTML TEST</h1>
            <div id="subwrapper">
              <div id="quiz-area">
                <button id="start">Start</button>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div><!-- close two third -->
      <div style="clear:both; height: 40px"></div>
</div><!-- end containerPro -->

<div id="footer">
  <div style="clear:both"></div>
</div> <!-- END footer -->

<!-- scripts -->
<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
<script type="text/javascript" src="assets/js/HTML.js"></script>