<div class="header">

    <div class="row">
      <div class="medium-12 columns space2">
      </div>
    </div>
    
</div> 

<div id="container">
 
  <div class="two-third"> 
    <!-- Projects You've Worked On -->
<h1>Projects You've Worked On </h1>
<form action="/employee_edit_portfolio" method="post">

<p>Please enter in any project(s) you have worked on previously. </p>

   <fieldset class="form-group">
    <label for="projectTitle">Project Title</label>
    <input type="text" class="form-control" id="ProjectTitle1" placeholder="Enter Project Title" name="title">
  </fieldset>

  <fieldset class="form-group">
    <label for="projectBegDate">Project Beginning Date</label>
    <br>
    <input type="date" name="startDate">
  </fieldset>

  <fieldset class="form-group">
    <label for="projectEndDate">Project Ending Date</label>
    <br>
    <input type="date" name="endDate">
  </fieldset>

   <fieldset class="form-group">
    <label for="projectTextarea">Enter in Project Description(Max 250 Char)</label>
    <textarea class="form-control" name="description" rows="3"></textarea>
  </fieldset>

  <fieldset class="form-group">
      <label for="projectSkillsarea">Enter in Skills Learned During Project</label>
      <textarea class="form-control" name="skillsUsed" rows="3"></textarea>
    </fieldset>

  <fieldset class="form-group">
    <label for="projectEndDate">Photo URL</label>
    <br>
    <input type="text" name="photourl">
  </fieldset>

   <input type="submit" class="button" value="Add Project"/>
</form>


  </div><!-- close two third -->
      
<div style="clear:both; height: 40px"></div>
      
</div><!-- end containerPro -->


  <div id="footer">

    <!-- First Column -->
      <div class="one-fourth">
      </div>
    
    <!-- Second Column -->
      <div class="one-fourth">
      </div>
    
    <!-- Third Column -->
      <div class="one-fourth">
      </div>
    
    <!-- Fourth Column -->
      <div class="one-fourth last">
      </div>

    <div style="clear:both"></div>
    
  </div> <!-- END footer -->
