<div class="container">
  <div class="row">
   <h1 class="large-4 large-centered colums" id="logo">Tech Aptitude</h1>
  </div>
  <div class="row">
    <div class="large-4 large-centered columns">
      <div class="row">
        <div class="large-9 columns">

          <!-- tabs for employer/candiate login -->
          <ul class="tabs" data-tabs id="empCanTabs">
            <li id="canText" class="tabs-title is-active"><a href="#panelCan">Candiate</a></li>
            <li class="tabs-title"><a href="#panelEmp">Employer</a></li>
          </ul>

            <!-- content inside tabs -->
            <div class="tabs-content" data-tabs-content="loginTabs">
              <!-- tab 1 -->
              <div class="tabs-panel is-active" id="panelCan">
                <!-- Login Form Group -->
                <form action="/" method="post">
                  <div class="row">
                    <div class="large-12 columns">
                      <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" name="email" placeholder="Email">
                      </div>
                    </div>
                  </div>  
                  <div class="row">
                    <div class="large-12 columns">
                      <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Password">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="large-12 columns">
                      <div class="form-group">
                          <label>Remember Me</label>
                          <input type="checkbox" class="form-control" name="remember" value="yes">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="large-12 large-centered columns">
                        <input type="submit" class="button" value="Sign In"/>
                        <a href="/signup" class="button">Create Account</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!-- end of tabs content -->
            {{message}}
        </div>
      </div>
    </div>
  </div>
</div>