body {
  background-color: #3A4750;
  border-top: 7px solid #D72323; }

.row .button {
  background-color: #3A4750; }

#logo {
  color: #eeeeee; }
  
.button {
	background-color: #d72323;
}


a {
  color: #D72323; }
