body {
  background-color: #3A4750; }

.row .button {
  background-color: #3A4750; }

a {
  color: #e63d00; }

.space {
  height: 100px; }

#mainLogo {
  color: #e63d00; }

#bulbIcon {
  color: #e63d00; }

/* update */