$bc: #e63d00;
$sb: #3A4750;
$bt: #eeeeee;
$ff: inherit;
$cb: #eeeeee;
$facebook: #3b5998;
$twitter: #00aced;
$linkedin: #007bb6;

.two-thirds {
	background-color: $bt;
}

body {
	background-color: $sb;
}

.row {
	.signUpLogo{
		color: $bc;
	}
	.button {
		background-color: $sb;
	}
	.heading_bg {
		color: $sb;
	}
}

.form-group {
	.labels {
		color: $bc;
	}
}

a {
	color: $bc;
}

.editButton {
	float: right;
}

.space {
	height: 100px;
}

.space2 {
	height: 50px;
}

.cardSpace{
	height: 25px;
}

.portText {
	color: $bc;
}

#mainLogo {
	color: $bc;
}

#bulbIcon {
	color: $bc;
}

.stack {
	color: $bc;
}

.fBookIcon {
	color: $facebook;
}

.twitIcon {
	color: $twitter;
}

.linked {
	color: $linkedin;
}

.contactIcons {
	color: $bc;
}

.contactIcons2 {
	color: $cb;
}

.card {
	overflow: hidden;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  	border-radius: 2px;
  	color: $sb;
  	background-color: $cb;
  		.content {
    		padding: 1.3rem;
    		font-weight: 300;
    		border-radius: 0 0 2px 2px; 
    			.sIcons {
    				color: $bc;
    			}
    			.profileLabels {
    				color: $bc;
    			}
    	}
}
